<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @forums_category.name %>
</p>


<%= link_to 'Edit', edit_forums_category_path(@forums_category) %> |
<%= link_to 'Back', forums_categories_path %>
